.postHighlightTags,
.projectTags{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.projectTags{
  margin-bottom: 1rem;
}

.projectTags > * {
  margin: 0 1rem 1rem 0rem;
}

.postHighlightTags{
  display: none;
}

@media(min-width: 550px){
  .postHighlightTags{
    display: block;
    margin-bottom: 0;
  }

  .postHighlightTags > * {
    margin-right: .5rem;
  }

  .postHighlightTags > *:last-child{
    margin-right: 0;
  }
}