.project {
  display: flex;
}

.imageWrapper {
  display: none;
  margin-top: 0.85rem;
}

.projectContent {
  flex: 1.2;
}

.projectTitle {
  margin-bottom: 0.5rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.projectDescription {
  margin-bottom: 1.5rem;
}

.projectTechnologies {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 0 0rem 0;
}

.projectTechnologies > * {
  margin: 0 0.75rem 1rem 0rem;
}

.projectTechnology {
  font-size: 1.1rem;
  display: inline-block;
  border-radius: 5px;
  padding: 0.02rem 0.4rem;
  border: 1px solid var(--green-500);
}

.viewProjectLinkGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.viewProjectLinkGroup > * {
  margin: 0 0 2rem 0;
}

.viewProjectLinkGroup > *:last-child {
  margin: 0;
}

.viewProjectIcon {
  margin-left: 0.4rem;
}

.viewProjectLink {
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  color: var(--blue-500);
  background: var(--grey-100);
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
}

@media (any-hover: hover) {
  .viewProjectLink:hover {
    transform: translateY(-6px);
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
    color: var(--blue-500);
  }
}

@media (min-width: 400px) {
  .viewProjectLinkGroup {
    flex-direction: row;
  }

  .viewProjectLinkGroup > * {
    margin: 0 1rem 0 0;
  }
}

@media (min-width: 900px) {
  .imageWrapper {
    display: block;
    flex: 1;
    margin-right: 4rem;
  }
}
