.posts > * {
  border-top: 1px solid var(--grey-500);
}

.posts > *:first-child {
  border-top: none;
}

@media (any-hover: hover) {
  .posts {
    --hover-color: var(--grey-300);
  }

  :global(.dark) .posts {
    --hover-color: var(--black-500);
  }

  /* Make border of the hovered element and the element directly after it blend in with the hovered background color */
  .posts > *:hover,
  .posts > *:hover + * {
    border-color: var(--hover-color);
  }

  .posts > *:hover {
    background-color: var(--hover-color);
    border-radius: 5px;
  }
}
