.site{
  display: flex;
  flex-direction: column;
}

.mainContent{
  margin: 2rem 0;
              /* viewport height - header height - footer height - margin of main content */
  min-height: calc(100vh - 67.95px - 87.19px -  4rem);
}