.button {
  display: inline-block;
  padding: 0.8rem 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  border-radius: 5px;
}

.primary {
  background-color: var(--blue-500);
  color: var(--grey-100);
}

@media (any-hover: hover) {
  .primary:hover {
    background-color: var(--blue-700);
  }
}
