.post{
  max-width: 730px;
  margin: auto;
}

.postTitle{
  margin-bottom: .4rem;
}

.postMetadata{
  font-size: 1.1rem; /* matches font-size in blog post highlight css*/
  line-height: 1.85;
}

.postDate{
  display: inline-block;
  margin-bottom: 0rem;
}

.postTagsWrapper{
  display: flex;
}

.postTags{
  display: flex;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}


.postTagsHeader,
.postTags > * {
  margin-right: .45rem;
}

.postTags > *:last-child{
  margin-right: 0;
}

.post h2 {
  margin: 2rem 0 .7rem 0;
}

@media (min-width: 768px) {
  .postTitle {
    font-size: 2.4rem;
    line-height: 1.45;
  }
}