.header {
  position: sticky;
  z-index: 11;
  top: 0;
  background-color: var(--grey-200);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 0.25rem;
}

:global(.dark) .header {
  background-color: var(--black-700);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

.wrapper {
  display: grid;
  grid-template-areas:
    'actionButtons'
    'navLinks';
  align-items: center;
}

.actionButtons {
  padding: 0.25rem 0;
  grid-area: actionButtons;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav {
  font-size: 1.1rem;
  grid-area: navLinks;
  padding-bottom: 0.5rem;
}

.listOfLinks {
  height: 0;
  overflow: hidden;
  list-style: none;
  margin: 0;
  text-align: center;
  transition: height 0.4s;
}

.link {
  display: inline-block;
  padding: 0.25rem 0;
  /* set width to 100% so link is clickable anywhere on the viewport. This is only for the hamburger menu */
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.active {
  color: var(--link-color);
}

@media (any-hover: hover) {
  .link:hover {
    color: var(--link-color);
  }
}

.hamburgerLinks {
  /* exact height is calculated in dev tools with height:auto not commented */
  display: block;
  height: 124.315px;
  /* height: auto; */
}

.download {
  padding-left: 0.5rem;
}

@media (min-width: 360px) {
  .wrapper {
    display: flex;
  }

  .empty {
    flex: 1;
  }

  .actionButtons {
    display: flex;
    justify-content: end;
    padding: 0;
    flex: 1;
  }

  .nav {
    padding-bottom: 0;
  }

  .listOfLinks {
    display: flex;
    height: auto;
  }

  .hamburger {
    display: none;
  }

  .link {
    padding: 0.4rem 0.9rem;
    width: auto;
  }

  .resumeLink {
    display: none;
  }
}

@media (min-width: 750px) {
  .wrapper {
    justify-content: end;
  }

  .empty,
  .actionButtons {
    flex: 0;
  }

  .nav {
    justify-content: flex-end;
    align-items: center;
  }
}
