.header{
  position: sticky;
  z-index: 11;
  top: 0;
  background: #fefefe;
  padding: 1rem 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.nav{
  position: relative;
}

.title{
  visibility: hidden;
  margin: 0;
}

.links{
  display: none;
  /* height: 0;
  overflow: hidden; */
  list-style: none;
  margin: 0;
  text-align: center;
  transition: .35s;
}

.linkItem > * {
  display: inline-block;
  padding: 1rem 0;
  width: 100%;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.hamburger{
  position: absolute;
  top: 5px;
  right: 0;
}

.hamburgerLinks{
  /* The exact height is calculated by first changing the display property to block and
  checking the height of the ul using the browser's developer tools */
  display: block;
}

.download{
  padding-left: .2rem;
}

@media(min-width: 400px){
  .nav{
    display: flex;
    justify-content: center;
  }

  .title{
    display: none;
  }

  .hamburger{
    display: none;
  }

  .links{
    display: flex;
    height: auto;;
  }

  .linkItem > * {
    padding: .4rem 1rem;
    width: auto;
  }

  .download{
    padding-left: .5rem;
  }
}

@media(min-width: 630px){
  .nav{
    justify-content: space-between;
    align-items: center;
  }

  .title{
    display: block;
    visibility: visible;
  }
}