.postHighlightLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  padding: 1.15rem 1rem;
}

.postContent {
  flex: 1;
}

.postTitle {
  margin-bottom: 0.5rem;
}

.postDate {
  display: inline-block;
  font-size: 1rem;
}

@media (min-width: 700px) {
  .postHighlight {
    padding: 2rem 2rem;
  }
}

@media (min-width: 900px) {
  .postContent {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .postTitle {
    margin-bottom: 0;
  }
}
