.footer {
  display: flex;
  justify-content: flex-end;
  padding: 1.6rem 0;
}

.footerLinks {
  display: flex;
  list-style: none;
  margin: 0;
}

.linkItem > * {
  padding: 0 0.55rem;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

/* ul > last li > any */
.footerLinks > li:last-child > * {
  padding-right: 0;
}

@media (any-hover: hover) {
  .link:hover {
    color: var(--blue-500);
  }
}
