.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0;
}

.footerLinks {
  display: flex;
  list-style: none;
  margin: 0;
}

.linkItem > * {
  padding: 0 0.55rem;
  text-decoration: none;
  color: inherit;
}

@media (any-hover: hover) {
  .link:hover {
    color: var(--link-color);
  }
}
