html {
  --grey-100: #f7fafc;
  --grey-200: #f6f9fc;
  --grey-300: #ebeded;
  --grey-400: #dddfdf;
  --grey-500: #acafb0;

  --blue-500: #2b7098;
  --blue-700: #1e4e6a;

  --green-500: #649647;
  --green-600: #3f5e2c;

  --black-500: #313132;
  --black-700: #1b1d1e;

  --main-text-color: var(--black-500);
  --link-color: var(--blue-500);
}

html.dark {
  --main-text-color: var(--grey-400);
  --link-color: #6dafd6;
}

body {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.9;
  font-family: 'Roboto Flex', sans-serif;
  background-color: var(--grey-100);
  color: var(--main-text-color);
}

.dark body {
  background-color: var(--black-700);
}

a {
  text-underline-position: under;
  color: var(--link-color);
}

a:hover {
  color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
img,
.expressive-code {
  padding: 0;
  margin: 0 0 1.45rem 0;
}

ul,
ol {
  margin-left: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.35rem;
  }
}
