/* Styling for title of code block */
.codeTitle {
  font-size: 1.1rem;
  background: black;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.3rem 1rem;
  color: white;
}

.codeTitle + * {
  border-radius: 0;
}
